html, body, iframe {
    padding:0; 
    margin:0; 
    border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

div#paintbox {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-color: #ffffff;

    overflow: hidden;

    filter:alpha(opacity=0.0001);
    -moz-opacity:0.00001;
    -khtml-opacity: 0.000001;
    opacity: 0.000001;
}
div#canvas {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}
div#sploot {
    font-family: Helvetica, sans-serif;
}

div#wtflink {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 100
}

div#wtf {
    display: none;
    z-index: 101;
    width: 100%;
    height: 90%;
    overflow: hidden;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
}
div#wtf div#wtf-border {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 95%;
    background: #fff;
    border-left: 10px solid #000;
    border-right: 10px solid #000;
    border-bottom: 10px solid #000;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}
div#wtf div#wtf-content {
    height: 100%;
    width: 100%;
    overflow: auto;
}

div#wtf div#wtf-content h1 {
    text-align: center;
    padding: 1em;
}

a.button {
    background: transparent url('/i/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}
a.button span.b {
    background: transparent url('/i/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px; 
    padding: 5px 0 5px 18px;
    cursor: pointer;
}

a.bigbutton {
    background: transparent url('/i/bg_bigbutton_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    height: 73px;
    text-decoration: none;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-right: 18px;
    padding-right: 54px; /* sliding doors padding */
    cursor: pointer;
}
a.button:active span.b {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
    cursor: pointer;
}

a.bigbutton span.b {
    background: transparent url('/i/bg_bigbutton_span.gif') no-repeat;
    display: block;
    padding: 15px 0 15px 54px;
    height: 43px;
    cursor: pointer;
}

a.button:active, a.bigbutton:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
    cursor: pointer;
}

a.bigbutton:active span.b {
    background-position: bottom left;
    padding: 16px 0 16px 55px; /* push text down 1px */
    cursor: pointer;
}

.cache {
    width: 1px;
    height: 1px;
    overflow: hidden;
     
    position: absolute;
    bottom: 0;
    left: 0;

    filter:alpha(opacity=0.0001);
    -moz-opacity:0.00001;
    -khtml-opacity: 0.000001;
    opacity: 0.000001;
}

